.profile__image{
    border-radius: 70%;
    max-width: 120px;
    width: 100%;
    }

    @media screen and (max-width: 650px) {
        .profile__image{
        padding-bottom: 14px;
        
        
    }
    
    } 