@import url(./__grid-card/elements__grid-card.css);
@import url(./__like-button/elements__like-button.css);
@import url(./__photo/elements__photo.css);
@import url(./__title/elements__title.css);
@import url(./__textbox/elements__textbox.css);
@import url(./__remove/elements__remove.css);
.elements{
    max-width: 882px;
    width: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(282px, 1fr)); 
    grid-gap: 20px 18px;  
    list-style: none; 
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    color: black;
    margin-bottom: 66px;
}
@media screen and (max-width:   880px) {
    .elements{
   max-width: 650px;
}

} 

@media screen and (max-width: 650px) {
    .elements{
   max-width: 300px;
}

} 

@media screen and (max-width: 450px) {
    .elements{
   max-width: 282px;
}

} 